version: "3.5"
services:
  reverse-proxy:
    image: nginx
    volumes:
      - nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
      - "443:443"
networks:
  default:
    name: parent-network
